<?xml version="1.0" encoding="utf-8"?>
<vector xmlns:android="http://schemas.android.com/apk/res/android"
    android:width="32dp"
    android:height="32dp"
    android:viewportWidth="32"
    android:viewportHeight="32">

	<path
        android:fillColor="#000000"
        android:strokeColor="#524E7D"
        android:strokeWidth="1.5"
        android:strokeLineCap="round"
        android:pathData="M4,9.3335 L28,9.3335" />
	<path
        android:fillColor="#000000"
        android:strokeColor="#524E7D"
        android:strokeWidth="1.5"
        android:strokeLineCap="round"
        android:pathData="M4,16 L28,16" />
	<path
        android:fillColor="#000000"
        android:strokeColor="#524E7D"
        android:strokeWidth="1.5"
        android:strokeLineCap="round"
        android:pathData="M4,22.6665 L28,22.6665" />
</vector>